@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$space-mono: "Space Mono", monospace;

.user {
  display: flex;
  flex-direction: row;
  font-family: $space-mono;
  padding: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border: solid 0.5px black;
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.2);
  width: 90%;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.5);

  &::after {
    position: absolute;
    content: "";
    bottom: -2rem;
    height: 1px;
    width: 1px;
  }

  &__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    // background-color: aquamarine;
  }

  &__photo {
    border: solid 1px rgba(0, 0, 0);
    width: 70%;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
  }

  &__info2 {
    font-size: 150%;
    text-align: left;
    // background-color: aqua;
  }

  &__info {
  }

  &__posts {
    width: 60%;
  }

  &__post {
    box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: solid 0.5px black;
    padding: 0.7rem;
    width: 100%;
    height: 2rem;
    color: black;
    margin: 10px 0 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    transition: box-shadow, font-weight 0.1s;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.5);

    &:hover {
      box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.2);
      font-weight: bold;
    }
  }
}
